<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='stylesheets/home.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/home.js') }}"></script>
</head>
 
<body>
 
    <div class="container">
        <div id="button">
          Press me!
        </div>
    </div>
</body>
 
</html>